@import 'var';

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #f5f6f6;
    font-family: PingFang SC, Microsoft YaHei, HanHei SC, Helvetica Neue,
        Open Sans, Arial, Hiragino Sans GB, "\5FAE\8F6F\96C5\9ED1", STHeiti,
        WenQuanYi Micro Hei, SimSun, sans-serif, HYWenHei-GEW;
}

.meedu-panel {
    width: 100%;
    height: auto;
    float: left;

    >.title {
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        padding: 20px 30px;
        border-bottom: 1px solid rgb(234, 240, 238);

        .text {
            flex: 1;
            text-align: left;
            color: rgb(51, 51, 51);
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
        }

        .right-menu {
            width: auto;
            height: auto;
            float: left;
            text-align: right;
            font-size: 14px;
            line-height: 16px;
            color: #999999;

            a {
                color: $primary;

                &:hover {
                    color: rgba($primary, .9);
                    text-decoration: none;
                }
            }
        }
    }

    .body {
        width: 100%;
        height: auto;
        float: left;
        padding: 30px;
    }
}

.br-50 {
    border-radius: 50%;
}


.common-item {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px 30px;
    border-radius: 33px;
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    cursor: pointer;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 36px;
    margin-top: 15px;

    .mobile {
        flex: 1;
        text-align: left;
    }

    .date {
        flex: 1;
        text-align: right;
    }

    &:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
}